<div class="popup-container">
   <div class="popup-card">
      <h2>Edit Post</h2>
      <form (ngSubmit)="updatePost()" [formGroup]="reactiveForm">

         <div class="form-field">
            <label>Title
               <input placeholder="Enter Title" formControlName="title">
            </label>
            @if (reactiveForm.get('title').invalid) {
            <span class="error-message">Please add a title</span>
            }
         </div>

         <div class="form-feild">
            <button (click)="fileUpload.click()" class="upload-pic">select new photo</button>
            @if (imagepathValue) {
               <p>choosen image:</p>
               <img [src]="imagepathValue" width="250px">
            }
            <input type="file" #fileUpload style="display: none;" (change)="newimageAdded($event)">
         </div>

         <div class="form-field">
            <label>Description
               <textarea placeholder="Enter Description" formControlName="description">
            </textarea>
            </label>
            @if (reactiveForm.get('description').invalid) {
            <span class="error-message">Please add a description</span>
            }
         </div>

         <div class="button-container">
            <button class="save-button" type="submit">Update Post</button>
            <button type="button" class="cancel-button" (click)="cancleClicked()">Cancel</button>
         </div>

      </form>
   </div>
</div>