<mat-card>
   <form [formGroup]="reactiveForm" (ngSubmit)="onAddPost()">
      <mat-form-field>
         <input matInput type="text" placeholder="Enter Title" formControlName="title">

         @if (reactiveForm.get('title').invalid ) {
         <mat-error>please add title</mat-error>
         }

      </mat-form-field>

      <button type="button" (click)="fileInput.click()">Upload Image</button>
      <input type="file" #fileInput style="display: none;" (change)="onImageChanged($event)" accept="image/*">

      @if (imagePreview!=="" && imagePreview && reactiveForm.get('image').valid) {
      <div class="img-preview">
         <img [src]="imagePreview" [alt]="reactiveForm.get('title').value">
      </div>
      }

      <mat-form-field>
         <textarea matInput placeholder="Enter Description" formControlName="description"></textarea>

         @if (reactiveForm.get('description').invalid) {
         <mat-error>please add description</mat-error>
         }
      </mat-form-field>
      <button mat-raised-button type="submit">save post</button>
   </form>
</mat-card>