@for (post of posts; track $index) {
<div>
   <mat-accordion>
      <mat-expansion-panel>
         <mat-expansion-panel-header>
            {{post.title}}
         </mat-expansion-panel-header>
         <div class="img-preview">
            <img [src]="post.imagePath" [alt]="post.title">
         </div>
         <p>{{post.description}}</p>
         <mat-action-row>
            <button mat-button style="background-color: rgb(3, 86, 219); color: #fff;" (click)="onEdit(post)">EDIT
               &nbsp;<i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button mat-button style="background-color: rgb(203, 13, 10); color: #fff;" (click)="onDelete(post)">DELETE
               &nbsp;<i class="fa-solid fa-trash"></i></button>
         </mat-action-row>
      </mat-expansion-panel>
   </mat-accordion>
</div>
}@empty {
<p style="text-align: center;">No Post Added Yet</p>
}
@if (EditingModeOn===true) {
<app-post-edit [titleFeildValue]="postTitle" [imagepathValue]="imagePath" (CancleBtnclicked)="hideEditPopup()"
   [descriptionFeildValue]="postDescription" [postId]="postID" (getUpdatedPost)="fetchingUpdatedPost($event)"
   [postPerPAge]="postsPerPage" [CurrentPAge]="currentPage">
</app-post-edit>
}
@if (posts.length > 0) {
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
   (page)="onPageChange($event)">
</mat-paginator>
}